# Configuration created by Apache Sling JCR Installer
scripts=["create\ service\ user\ aemproject-service-user\ with\ path\ /home/users/system/mysite/aemproject-service-user","set\ ACL\ for\ aemproject-service-user\r\nallow\ jcr:read,rep:write\ on\ /content\r\nallow\ jcr:read\ on\ /conf\r\nallow\ jcr:read\ on\ /apps\r\nend"]
references=[""]
